$base-background-color: #E5E5E5;

.note-container {
    color: #4c4c4c;

    header {
        display: flex;
        justify-content: space-between;

        border-bottom: none !important;
        width: 95%;
        max-height: 30px;

        h1 {
            font-size: 20px;
            font-weight: 500;
        }

        > span {
            margin-top: 5px;

            &:hover {
                cursor: pointer;
                color: rgba(0, 80, 0, 0.8);
            }
        }
    }

    main {
        width: 95%;
        height: 100%;
        
        p {
            text-decoration: none;
        }
    }

    footer {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 2px 0;

        div {
            display: flex;
            gap: 5px;

            button {
                cursor: pointer;

                border: 0;
                background-color: $base-background-color;

                span {
                    color: #4c4c4c;
                    transition: color 0.2s, filter 0.2s;

                    &.edit:hover {
                        color: rgba(0, 0, 80, 0.8);
                    }

                    &.delete:hover {
                        color: rgba(234, 68, 53, 0.9);
                        filter: brightness(0.6);
                    }
                }
            }
        }
    }
}

.dark {
    .note-container {
        header {
            h1 {
                color: #1c1c1c;
            }

            > span {
                color: #2c2c2c;
            }
        }

        main {
            p {
                color: #2c2c2c;
            }
        }

        footer {
            div {
                button {
                    span {
                        color: #2c2c2c;
                    }
                }
            }
        }
    }
}