$white-background: #f1f1f1;
$dark-background: #212121;

#register-page {
    background-color: $white-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;

    main {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            max-width: 320px;
            width: 100%;

            margin-bottom: 5rem;

            p {
                font-weight: 500;
                color: #4c4c4c;
            }
        }
    }
}

@media (max-width: 800px) {
    #register-page {
        flex-direction: column-reverse;

        main {
            flex: 4;
        }
    }
}

.dark {
    #register-page {
        background-color: $dark-background;

        main {
            .container {
                p {
                    color: #ffffff;
                }
            }
        }
    }
}