$white-background: #f1f1f1;
$dark-background: #212121;

* {
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body, #root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: $white-background;
}

body button, body a {
    -webkit-tap-highlight-color: transparent;
}

.dark{
    background-color: $dark-background;
    
    #root {
        background-color: $dark-background;
    }
}
