$blue-base-light-theme: #92A9BD;

$blue-base-dark-theme: #668199;

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      
  .loading-circle {
    height: 5rem;
    width: 5rem;

    border: 0.4rem solid #fefefe;
    border-top-color: $blue-base-light-theme;
    border-radius: 50%;

    animation-name: loop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark {
  .loading-container {
    .loading-circle {
      border: 0.4rem solid #121212;

      border-top-color: $blue-base-dark-theme;
    }
  }
}
